:root {
    --primary-color: #E7717D;
    --secondary-color: #C2CAD0;
    --tertiary-color: #C2B9B0;
    --quaternary-color: #7E685A;
    --quinternary-color: #AFD275;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body {

}
/*{
     border: 2px solid red;
}


/* Navigation Begin */

header {
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    border-bottom: 1px solid black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 210000;
}

header h1 {
    font-weight: normal;
    margin: 0 15px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header nav {
    margin: 15px auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


header nav ul li a {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
    padding: 0 40px;
    justify-content: flex-end;
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
}

/* Navigation End */

/* Hero Begin */

.hero {
    background-color: var(--quaternary-color);
    background-image: url(./images/IMG_0092.jpeg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.hero-cta {
    width: 40%;
    height: 10%;
    margin: 30px 15px;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Libre Franklin', sans-serif;
    max-height: 50%;
    background-color: rgba(175, 210, 117, 0.6);
    color: white;
    border: 1px solid black;
}

.hero-cta h2 {
    width: 100%;
    margin: 1.5%;
    text-shadow: 0, 0, 10px, rgba(0, 0, 0, 0.5);
}


.hero-cta img {
    width: 30%;
    margin: 1.5%;
    border: 1px solid #000;
    border-radius: 10px;
    float: left;
}

.hero-text {
    margin: 1.5%;
    line-height: 2.3;
}


/* Hero section end */

/* About section begin */

.about-me {
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.5;
    text-align: center;
    padding-left: 15px;
    background-color: rgba(194, 185, 176, 0.7);
    display: block;
}

.about {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    padding: 2px 2px;
}

.about-flex {
    display: flex;
    justify-content: center;
}

.about-text {
    margin: 10px;
    border-radius: 10px;
    line-height: 2.5;
    width: 50%;
    padding-bottom: 60px;
}




/* About section end */

/* Portfolio section begin */

.portfolio {
    background-color: var(--quinternary-color);
}

.portfolio-box {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    border-width: 80%;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}



.border-black-1 {
    border: 1px solid black;
}

.card {
    width: 25%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}


.card img {
    width: 90%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0, 0, 10px rgba(0, 0, 0, 0.5);
    margin: 3px;
}


/* Portfolio section end */

/* Contact section begin */

#contact {
    padding-top: 20px;
    background-color: var(--quaternary-color);
    padding-bottom: 20px;
}

.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 36px;
    background-color: var(--quaternary-color);
}

.contact-overhead {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--quaternary-color);
}

.contact-arch {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    width: 20%;
    line-height: 1.5;
    justify-content: center;
    padding: 20px;
    background-color: rgba(231, 113, 125, 0.6);
}

.contact-profiles {
    line-height: 3.0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(175, 210, 117, 0.6);
}

.contact-form h3 {
    padding: 20px;
}

.contact-form {
    margin: 20px;
}
/* Contact section end */

/* Footer styling begin */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    color: #fff;
    align-items: center;
    height: 50px;
}

footer h3 {
    margin: 0 40px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}

footer ul li a {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
    padding: 0 40px;
    justify-content: flex-end;
    text-decoration: none;
}

footer ul li a:visited {
    text-decoration: none;
    color: #fff;
}


/* Footer styling end */


/* Grow class functionality */

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}


/* Media Queries */

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 575px) {

}