:root {
    --primary-color: #E7717D;
    --secondary-color: #C2CAD0;
    --tertiary-color: #C2B9B0;
    --quaternary-color: #7E685A;
    --quinternary-color: #AFD275;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

body {

}


/* Navigation Begin */

header {
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 210000;
}

header h1 {
    font-weight: normal;
    margin: 0 15px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header nav {
    margin: 15px auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


header nav ul li a {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
    padding: 0 40px;
    justify-content: flex-end;
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
}

/* Navigation End */

/* Hero Begin */

.hero {
    background-color: var(--quaternary-color);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.hero-cta {
    width: 40%;
    height: 10%;
    margin: 30px 15px;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Libre Franklin', sans-serif;
    max-height: 50%;
    background-color: var(--quinternary-color);
    color: white;
}

.hero-cta h2 {
    width: 100%;
    margin: 1.5%;
    text-shadow: 0, 0, 10px, rgba(0, 0, 0, 0.5);
}


.hero-cta img {
    width: 30%;
    margin: 1.5%;
    border: 1px solid #000;
    border-radius: 10px;
    float: left;
}

.hero-text {
    margin: 1.5%;
    line-height: 2.3;
}


/* Hero section end */

/* About section begin */

.about-me {
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.5;
    text-align: left;
    padding-left: 15px;
    background-color: var(--tertiary-color);
}

.about-text {
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    line-height: 1.5;
}

.about {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    display: inline-block;
    border-bottom: 1px solid coral;
    border-width: 80%;
    padding: 2px 2px;
}


/* About section end */

/* Portfolio section begin */

.portfolio-box {
    margin: 10px 20px;
    border: 1px solid black;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#run-buddy {
    margin: 20px;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    float: left;
}

#horiseon {
    margin: 20px;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    float: right;
}

/* Grow class functionality */

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}